services:
  redis:
    image: redis:latest
    container_name: "fatec-redisdb"
    ports:
      - "6379:6379"
    networks:
      - lecturizeit-network
    volumes:
      - redis-data:/data

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: "fatec-rabbitmq"
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - ~/.docker-conf/rabbitmq/data/:/var/lib/rabbitmq
      - ~/.docker-conf/rabbitmq/log/:/var/log/rabbitmq
    hostname: lecturize-messages
    networks:
      - lecturizeit-network

  mysqldb:
    image: mysql:8.0.33
    command: --skip-performance-schema --skip-mysqlx
    ports:
      - "3307:3306"
    environment:
      - MYSQL_DATABASE=lecturizeit
      - MYSQL_ROOT_PASSWORD=admin
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - lecturizeit-network
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      retries: 10
      interval: 3s
      timeout: 30s

  lecturizeit-api:
    build:
        context: .
        dockerfile: Dockerfile
    image: lecturizeit-api:latest
    depends_on:
      mysqldb:
        condition: service_healthy
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysqldb:3306/lecturizeit?createDatabaseIfNotExist=true&serverTimezone=UTC
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=admin
      - LOCAL_IMAGE_DIRECTORY=/app/images
      - SPRING_PROFILES_ACTIVE=prod
      - SMTP_PASSWORD=${SMTP}
    volumes:
      - api-images:/app/images
    networks:
      - lecturizeit-network
    ports:
      - "8080:8080"

volumes:
  mysql-data:
  api-images:
  redis-data:
networks:
  lecturizeit-network:
    name: lecturizeit-network